.nav-content {
  display: flex;
  position: absolute;
  margin-top: 24px;
  margin-left: -23px;
  right: 0;
  padding: 20px 20px 20px 0;
  flex-direction: column;
  gap: 20px;
  border: 2px solid black;
  border-radius: 7px;
  transition: 0.3s;
  background-color: rgb(54, 54, 54);
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-item:hover {
  border-radius: 0 50px 50px 0;
  background: #0c0c0c;
}

.nav-content span {
  display: none;

  color: rgb(213, 213, 213);
  align-items: center;
  font-family: "calibri";
}

.nav-content:hover span {
  display: block;
}
.icon {
  background: #0c0c0c;
  border-radius: 50%;
  padding: 10px;
}
